<!DOCTYPE html>
<html>
  <head>
    <title>Glance | Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="topbar">
      <a href="/"><button class="barbutton">Home</button></a>
    </div>
    <center><h1 id="headtext">Glance</h1></center>
    <center><h2 id="secondarytext">Discord Bot Configurator for Twitch Streamers</h2></center>
    <center><a href="/create"><button id="getStartedButton">Get Started</button></a></center>
    <div style="height: 500px; width:100%;"></div>
  </body>

</html>
