<!DOCTYPE html>
<html>
  <head>
    <title>Glance</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="topbar"></div>
    <center><h1 id="headtext">Glance</h1></center>
    <center><h2 id="secondarytext">Discord Bot Configurator for Twitch Streamers</h2></center>
    <center><button id="getStartedButton">Get Started</button></center>
    <div style="height: 500px; width:100%;"></div>
  </body>
  
  <script>

  </script>

</html>
